.posts {
    list-style-type: none;
    margin: 0;
}


.post {
    margin: 1rem 0;


    a {
        background: rgba(242,248,250, 0.6);
        color: #000000;
        display: block;
        padding: 1rem;
        text-decoration:none;
        border-radius: 5px;
        box-shadow: 0px 2.5px 3.9px rgba(5,104,146, 0.2);
    }

    a:hover {
        background: #d4f3fd;
    }

    h2 {
        color: #056892;
        margin-bottom:0;
    }

    p {
        color: #777777;
        font-size: .8rem;
        font-style: italic;
    }

}